[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
nose = "*"
flask = "*"
python-dotenv = "*"
flask-restx = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
gunicorn = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"

[dev-packages]

[requires]
python_version = "3.8"
